@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--color-primary: #00d890;
}

@font-face {
	font-family: "iranyekan";
	font-style: normal;
	font-weight: 900;
	src: url("/fonts/iranyekan/woff/iranyekanwebblackfanum.woff") format("woff");
}

@font-face {
	font-family: "iranyekan";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/iranyekan/woff/iranyekanwebboldfanum.woff") format("woff");
}

@font-face {
	font-family: "iranyekan";
	font-style: normal;
	font-weight: 800;
	src: url("/fonts/iranyekan/woff/iranyekanwebextrablackfanum.woff") format("woff");
}

@font-face {
	font-family: "iranyekan";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/iranyekan/woff/iranyekanwebextraboldfanum.woff") format("woff");
}

@font-face {
	font-family: "iranyekan";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/iranyekan/woff/iranyekanweblightfanum.woff") format("woff");
}

@font-face {
	font-family: "iranyekan";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/iranyekan/woff/iranyekanwebmediumfanum.woff") format("woff");
}

@font-face {
	font-family: "iranyekan";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/iranyekan/woff/iranyekanwebregularfanum.woff") format("woff");
}

@font-face {
	font-family: "iranyekan";
	font-style: normal;
	font-weight: 200;
	src: url("/fonts/iranyekan/woff/iranyekanwebthinfanum.woff") format("woff");
}

:root {
	font-family: "iranyekan", sans-serif;
	--bp-font-primary: #4e4f4f;
	--bp-bg-base-intense: #fafefd;
}

[data-theme="dark"]:root {
	--bp-font-primary: #b9bcbb;
	--bp-bg-base-intense: #121212;
}
